{% extends 'base.html' %}
{% block content %} 

<h2>{{ title }}</h2>

{% for application in applications %}
    <div class="mb-3">
        <label for="{{ application.id_for_label }}" class="form-label">{{ application.label }}</label>
        <p><strong>Application to {{ application.course }}: {{ application.get_status }}</strong></p>
        <p><a href="{% url 'applications:application-detail' application.id %}">View</a></p>
        
        {% if user.is_professor or user.is_superuser %}
        {% else %}
            {% if application.get_status == 'PENDING' %}
            <p><a href="{% url 'applications:application-delete' application.id %}">Withdraw Application</a></p>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}

{% endblock %}
