{% extends 'base.html' %}

{% block content %} 

<h2 class="mb-4 fw-normal">Application to {{ application.course }}</h2>


<div class="mb-3">
    <label class="fw-bold">Applicant:</label>
    <p>{{ application.student }}</p>
</div>

<div class="mb-3">
    <label class="fw-bold">Instructor:</label>
    <p>{{ application.course.professor }}</p>
</div>

<div class="mb-3">
    <label class="fw-bold">Application Status:</label>
    <p><span class="badge bg-info">{{ application.get_status }}</span></p>
</div>

<div class="mb-3">
    <label class="fw-bold">Additional Information:</label>
    <p>{{ application.additional_information }}</p>
</div>

<a href="{% url 'applications:application-list' %}" class="btn btn-outline-secondary btn-sm mb-3">Back to Applications</a>

{% if user == application.course.professor or user.is_superuser %}
    {% if application.get_status == 'PENDING' %}
        <a href="{% url 'offers:offer-create' application.id %}" class="btn btn-outline-primary btn-sm mb-3 ms-2">Send Offer</a>
        <a href="{% url 'applications:application-reject' application.id %}" class="btn btn-outline-danger btn-sm ms-2 mb-3">Reject Application</a>
    {% endif %}
{% else %}
    {% if application.get_status == 'PENDING' %}
        <a href="{% url 'applications:application-delete' application.id %}" class="btn btn-outline-secondary btn-sm mb-3 ms-2">Withdraw Application</a>
    {% endif %}
{% endif %}

{% endblock %}
