<header class="site-header mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">TA Buzz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'courses:course-list' %}">Courses</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'applications:application-list' %}">Applications</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'offers:offer-list' %}">Offers</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'courses:manage-course' %}">Manage Courses</a>
                </li>
                {% endif %}

            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link disabled" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled" href="{% url 'profile' user.id %}">Profile</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link disabled" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled" href="{% url 'signup' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    </nav>
</header>