.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
} 

h2 { 
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}