{% extends 'base.html' %}
{% block content %} 

<div class="course-item list-group-item mb-3 p-4 border rounded">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0 fw-normal">{{ course }}</h2>
        {% if course.status == True %}
            <span class="badge bg-success">Open</span>
        {% else %}
            <span class="badge bg-danger">Closed</span>
        {% endif %}
    </div>

      <div class="row mt-3">

        <div class="col-md-4">
            <p><i class="bi bi-person"></i> <strong>Instructor:</strong> {{ course.instructor_first_name }} {{ course.instructor_last_name }}</p>
        </div>
        <div class="col-md-4">
          <p><i class="bi bi-geo-alt"></i> <strong>Location:</strong> {{ course.room_name }}</p>
        </div>
        <div class="col-md-4">
          <p><i class="bi bi-clock"></i> <strong>Timeslot:</strong> {{ course.timeslot }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p><i class="bi bi-layout-text-window"></i> <strong>Section:</strong> {{ course.section }}</p>
        </div>
        <div class="col-md-4">
            <p><i class="bi bi-people"></i> <strong>TAs:</strong> {{ course.current_tas.count }}/{{ course.num_tas }}</p>
        </div>
    </div>

    {% if course.status == True and user.is_student %}
    <div class="row">
      <div class="col-md-4">
        {% if is_professor %}
            <p class="text-danger">You cannot apply to a course if you are a professor</p>
        {% elif at_max_apps %}
            <p class="text-danger">You have reached the maximum number of courses you can apply to (5)</p>
        {% elif has_applied %}
            <p class="text-danger">You have already applied to this course</p>
        {% elif is_ta %}
            <p class="text-danger">You are already a TA for a course</p>
        {% else %}
          <p><a href="{% url 'applications:application-create' course.id %}">Apply</a></p>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>  
</div>

<div class="course-item list-group-item mb-3 p-4 border rounded">
    <h4 class="mb-4 fw-light"><strong>Description</strong></h4>
    <div class="card-body">
          <p>{{course.description}}</p>
    </div>
</div>

{% if user == course.professor or user.is_superuser %}
<div class="course-item list-group-item mb-3 p-4 border rounded">
    <h4 class="mb-4 fw-light"><strong>Current TAs ({{ course.current_tas.count }})</strong></h4>
    <div class="card-body">
        {% for ta in course.current_tas.all %}
          <p>{{ forloop.counter }}. {{ ta }} -- {{ ta.email }}</p>
        {% endfor %}
    </div>
</div>

<div class="course-item list-group-item mb-3 p-4 border rounded">
    <!-- <h4 class="mb-4 fw-light"><strong>Applications ({{ course.applications.count }})</strong></h4> -->
    <h4 class="mb-4 fw-light"><strong>Applications</strong></h4>
    <div class="card-body">
        {% for application in course.applications.all %}
            {% if application.status == 1%}
            <p>{{ forloop.counter }}. {{ application.student }} - 
                <a href="{% url 'applications:application-detail' application.id %}" class="btn btn-outline-secondary btn-sm">View Application</a>
            </p>
            {% endif%}
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}
