{% extends 'base.html' %}
{% block content %} 

<h1 class="mb-4 display-5">Courses</h1>

{% if user.is_student or user.is_superuser %}
<form method="get" class="mb-4">
  <div class="form-group">
      <label for="professorDropdown">Filter by Professor:</label>
      <select class="form-control" id="professorDropdown" name="professor_id" onchange="this.form.submit()">
          <option value="">All Professors</option>
          {% for professor in professors %}
              <option value="{{ professor.id }}" 
                      {% if request.GET.professor_id == professor.id|stringformat:"s" %}selected{% endif %}>
                  {{ professor }}
              </option>
          {% endfor %}
      </select>
  </div>
</form>
{% endif %}

{% for course in course_data %}
  <div class="course-item list-group-item mb-3 p-4 border rounded">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="mb-0"><a href="{% url 'courses:course-detail' course.id %}">{{ course.course }} - {{ course }}</a></h4>
        {% if course.status == True %}
            <span class="badge bg-success text-white">Open</span>
        {% else %}
            <span class="badge bg-danger text-white">Closed</span>
        {% endif %}

    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <p><i class="bi bi-person"></i> <strong>Instructor:</strong> {{ course.instructor_first_name }} {{ course.instructor_last_name }}</p>
        </div>
        <div class="col-md-4">
          <p><i class="bi bi-geo-alt"></i> <strong>Location:</strong> {{ course.room_name }}</p>
        </div>
        <div class="col-md-4">
          <p><i class="bi bi-clock"></i> <strong>Timeslot:</strong> {{ course.timeslot }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p><i class="bi bi-layout-text-window"></i> <strong>Section:</strong> {{ course.section }}</p>
        </div>
        <div class="col-md-4">
            <p><i class="bi bi-people"></i> <strong>TAs:</strong> {{ course.current_tas.count }}/{{ course.num_tas }}</p>
        </div>
    </div>

    {% if course.status == True and user.is_student %}
    <div class="row">
      <div class="col-md-4">

          <p><a href="{% url 'applications:application-create' course.id %}">Apply</a></p>
      </div>
    </div>
    {% endif %}
  </div>

{% endfor %}

{% endblock %}
