{% extends 'base.html' %}
{% load bootstrapify %}
{% block content %} 

<h1 class="mb-4 display-5">{{ title }}</h1>

{% for offer in offers %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ offer.label }}</h5>
            <p class="card-text">
                <strong>{{ forloop.counter }}. Offer to {{ offer.application.student }} for {{ offer.course }}</strong>: <span class="badge bg-info">{{ offer.get_status }}</span>
            </p>
            {% if user.is_student %}
                <a href="{% url 'offers:offer-detail' offer.id %}" class="btn btn-outline-primary btn-sm ms-3">View</a>
            {% else %}
                {% if offer.get_status == 'PENDING' %}
                    <a href="{% url 'offers:offer-delete' offer.id %}" class="btn btn-outline-danger btn-sm ms-3">Rescind Offer</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endfor %}

{% endblock %}
